<?xml version='1.0' encoding='ISO-8859-1'?>
            <div class="chosen"><!-- TMPL_VAR NAME=choose --></div>
            <div class="choices">
              <div class="select-top">
                <div class="select-middle">
                  <div class="select-bottom">
                    <ul class="center">
		      <!-- TMPL_LOOP NAME=loop --><li class='choice' data='<TMPL_VAR NAME=name>' idvalue='<TMPL_VAR NAME=nr>'><!-- TMPL_VAR NAME=name --></li>
		      <!-- /TMPL_LOOP -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
