body {
    margin: 0;
    height: 1024px;
    font-family: helvetica, arial;
}

.header {
    background: url('images/top-header.png') no-repeat top left;
    height: 109px;
    width: 904px;
}

.header .title {
    vertical-align: top;
    line-height: 49px;
    font-weight: bold;
    font-size: 36px;
    display: inline-block;
    color: #FFF;
    padding-top: 30px;
    padding-left: 40px;
}

.header .submission {
    display: inline-block;
    color: #FFF;
    width: 50%;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 80px;
    font-weight: bold;
}

.content {
    width: 900px;
}

.content > div {
    display: inline-block;
    vertical-align: top;
}

.left {
    width: 255px;
    height: 100%;
    background-color: #ebebeb;
    font-family: helvetica, arial;
    font-size: 18px;
    font-weight: bold;
}

.left .step {
    line-height: 65px;
    height: 65px;
    width: 255px;
    background: #FFF url('images/step-off.png') no-repeat top left;
}

.left .step.current {
    background: #FFF url('images/step-on.png') no-repeat top left;
}

.left .stop:first-child {
    background: #FFF url('images/step-first-off.png') no-repeat top left;
}

.left .step:first-child.current {
    background: #FFF url('images/step-first-on.png') no-repeat top left;
}

.left .stop:last-child {
    background: #FFF url('images/step-last-off.png') no-repeat top left;
}

.left .step:last-child.current {
    background: #FFF url('images/step-last-on.png') no-repeat top left;
}

.left .count {
    padding-left: 35px;
    display: inline-block;
    color: #fff;
}

.left .label {
    padding-left: 40px;
    display: inline-block;
    color: #9d9d9d;
}

.copyright {
    padding-top: 100px;
    font-size: 8px;
    color: #9d9d9d;
}

.right {
    padding-left: 40px;
    padding-top: 10px;
    width: 600px;
}

.right .state {
    margin: 5px;
}

/* error */

.error {
    background-color: #ff5555;
}

/* signin */
.signin {
    margin: 5px;
    display: none;
}

.signin .go {
    background-color: #BADA55;
}

/* state_component */

.state_component {
    display: none;
}

.state_component > div > div {
    display: inline-block;
}

.state_component .comments {
    width: 210px;
    height: 160px;
    background: url('images/comment.png') no-repeat;
    float: right;
    padding: 5px 10px;
    font-size: 12px;
}

.state_component .comments .comment-header {
    color: #4fb33f;
    font-weight: bold;
    position: relative;
    right: 0;
}

.state_component .comments .comment-read-more a {
    text-decoration: none;
    color: #cc1300;
}

.state_component .comments .comment-read-more a:hover {
    color: #ea1600;
    background: #fafafa;
}

.state_component .comments .comment {
    display: none;
}

.state_component img {
    padding: 5px;
}

.state_component img:hover {
    background: url('icons/icon-hover.png') no-repeat;
}

/* state_subcomponent */
.version_and_subcomponent > div {
    display: inline-block;
}

.state_subcomponent {
    display: none;
}

.state_subcomponent .subcomponents {
    display: none;
}

/* state_version */
.state_version {
    padding-left: 50px;
    display: none;
}

/* state_description */
.state_description {
    display: none;
}

.state_description .subject-input input {
    background: url('images/subject.png') no-repeat;
    height: 38px;
    width: 328px;
    border: 0;
    padding: 5px;
}

.state_description .description-input textarea {
    background: url('images/description.png') no-repeat;
    height: 118px;
    width: 548px;
    border: 0;
    padding: 5px;
}

/* state_submit */
.state_submit {
    display: none;
}

.state_submit .go {
    background-color: #BADA55;
}

/* related bugs */

.state_duplicates {
    padding-left: 10px;
}

.state_duplicates .related_bugs {
    padding-top: 10px;
}

.state_duplicates a {
    text-decoration: none;
    color: #1d97e0;
}

/* state_success */
.state_success {
    display: none;
}

/* state_attach */
.state_attach {
    display: none;
}

/* skin */
.skin {
    display: none;
}

/* select */
.select .select-header {
    background: url('images/select-header.png') no-repeat;
    padding: 5px 40px 5px 10px;
    height: 33px;
    line-height: 33px;
    min-width: 150px;
}

.select .select-header, .select .choice {
    font-family: helvetica, arial;
    font-size: 18px;
    color: #b8af9e;
}

.select li.choice:hover {
    background-color: #9ceb90;
    color: #32b21f;
}

.select .choices .center {
    background-color: #FFF;
}

.select .choices .select-top {
    padding-top: 10px;
    background: url('images/select-horizontal.png') repeat-x top left;
}

.select .choices .select-bottom {
    padding-bottom: 10px;
    background: url('images/select-horizontal.png') repeat-x bottom left;
}

.select .choices .top-left {
    background: url('images/select-top-left.png') no-repeat;
    height: 10px;
    width: 10px;
}

.select .choices .top-right {
    background: url('images/select-top-right.png') no-repeat;
    height: 10px;
    width: 10px;
}

.select .choices .bottom-left {
    background: url('images/select-bottom-left.png') no-repeat;
    height: 10px;
    width: 10px;
}

.select .choices .bottom-right {
    background: url('images/select-bottom-right.png') no-repeat;
    height: 10px;
    width: 10px;
}

.select .choices .select-left {
    background: url('images/select-vertical.png') repeat-y top left;
    padding-left: 10px;
}

.select .choices .select-right {
    background: url('images/select-vertical.png') repeat-y top right;
    padding-right: 10px;
}
