<!--
# This file is part of the LibreOffice BSA project.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http:www.gnu.org/licenses/>.
-->

<html>
  <head>
    <title>QATeam Tools</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <script type="text/javascript" src="../jquery-1.10.1.min.js?1386183915"></script>
    <script type="text/javascript" src="../jquery.xmlrpc.min.js?1386183915"></script>
    <script type="text/javascript" src="../bugzilla.js?1386183915"></script>
    <script type="text/javascript" src="tools.js?1386183915"></script>
    <link rel="stylesheet" href="../bug.css?1386183915" type="text/css" media="screen">
  </head>
  <body>
    <div class="menu"></div>
    <div class="page">
      <table border=1>
        <tr>
          <th>Statistic</th>
          <th><!-- TMPL_VAR NAME=Date --></th>
        </tr>
        <tr>
          <td>Total open bugs</td>
          <td><!-- TMPL_VAR NAME=bugsTotal --></td>
        </tr>
	<tr>
          <td>Bugs changed in past 24h</td>
          <td><!-- TMPL_VAR NAME=bugsChanged --></td>
        </tr>
        <tr>
          <td>Bugs created in past 24h</td>
          <td><!-- TMPL_VAR NAME=bugsCreated --></td>
        </tr>
	<tr>
          <td>Bugs to bibisect</td>
          <td><!-- TMPL_VAR NAME=bugsBibisect --></td>
        </tr>
	<tr>
          <td>Open bugs created with BSA</td>
          <td><!-- TMPL_VAR NAME=bugsBSA --></td>
        </tr>
	<tr>
          <td>Open regression bugs</td>
          <td><!-- TMPL_VAR NAME=bugsRegression --></td>
        </tr>
	<tr>
          <td>Open possibleRegression bugs</td>
          <td><!-- TMPL_VAR NAME=bugsPossibleRegression --></td>
        </tr>
      </table>
    </div>

    <script type="text/javascript">
      $.tools.main();
    </script>
  </body>
</html>
